<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>光ファイバ通信のデモ</title>
    <style>
      * {
        background: #333;
        color: #aaa;
      }

      button {
        background: #aaa;
        color: #333;
      }
    </style>
  </head>

  <body>
    <h1>
      光ファイバ通信のデモ
    </h1>

    <a href="/app/sender">
      送信側のアプリケーション
    </a><br>

    <a href="/app/receiver">
      受信側のアプリケーション
    </a>
  </body>

</html>
