<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>光ファイバ通信のデモ</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
    <div id="app-wrapper">
      <header>
        <a href="/app">< top(光ファイバ通信のデモ)</a>
      </header>
      <h1>
        受信側アプリケーション
      </h1>
      <div style="margin-bottom: 10px">
        <button id="start-button">受信開始</button>
        <button id="end-button">受信終了</button>
      </div>
      <img id="image" hidden="hidden"></img>
      <canvas id="canvas" hidden="hidden"></canvas>
    </div>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
      const SAMPLING_RATE = 48000;
      const BUFFER_SIZE = 16384;

      const canvas = document.getElementById("canvas");
      const ctx = canvas.getContext("2d");

      let ws,
        processor;

      const handleAudio = function (stream) {
        const context = new AudioContext();
        const input = context.createMediaStreamSource(stream)
        processor = context.createScriptProcessor(BUFFER_SIZE, 1, 1);

        input.connect(processor);
        processor.connect(context.destination);

        processor.onaudioprocess = function (e) {
          const voice = e
            .inputBuffer
            .getChannelData(0);

          if (ws.readyState !== WebSocket.CLOSED) {
            ws.send(voice);
          }
        };

        ws.onclose = () => {
          context.close();
          stream
            .getTracks()
            .forEach(function (track) {
              track.stop();
            });
        }
      };

      $("#start-button").on("click", function () {
        ws = new WebSocket(`ws://${location.host}/pipe?is_mock=true`);
        let image_src = 'data:image/jpeg;base64,';
        let image_data;
        ws.onopen = function () {
          ws.onmessage = function (message) {
            if (message.data) {
              const reader = new FileReader();
              reader.onload = () => {
                const received_data = reader
                  .result
                  .replace(/^data:([^,]+,)?/, '');;

                image_src += received_data;

                var img = new Image();
                img.onload = function () {
                  $('#image').attr('src', image_src);
                  if ($('#image').attr('hidden')) {
                    $('#image').attr('hidden', false);
                  }
                  ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                };

                img.src = image_src;
                $('#image').attr('src', image_src);
                if ($('#image').attr('hidden')) {
                  $('#image').attr('hidden', false);
                }
              };
              reader.readAsDataURL(message.data);
            }
          }
          navigator
            .mediaDevices
            .getUserMedia({
              audio: {
                echoCancellation: false,
                autoGainControl: false,
                noiseSuppression: false
              },
              video: false
            })
            .then(handleAudio);
        };
      });

      $("#end-button").on("click", function () {
        processor.onaudioprocess = null;
        if (ws.readyState !== WebSocket.CLOSED) {
          ws.close();
        }
      });
    </script>
  </body>

</html>
